* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-font: "Oswald", sans-serif;
$paragraph-font: "Montserrat", sans-serif;
$text-color: black;

@mixin flex-justify-align($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-with-direction($direction, $justify, $align) {
  @include flex-justify-align($justify, $align);
  flex-direction: $direction;
}

%headings {
  font-family: $main-font;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.header {
  @include flex-with-direction(column, center, center);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.main__header {
  @extend %headings;
  color: $text-color;
  font-family: $main-font;
  margin-bottom: 46px;
  font-size: 36px;
}
.nav__list {
  @include flex-with-direction(column, space-between, center);
  list-style: none;
  overflow: hidden;
  height: 40vh;
}
.nav__list a {
  display: block;
  text-decoration: none;
  color: $text-color;
}
.nav__link {
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  padding: 12px;
  display: inline-block;
}
.nav__link:nth-of-type(1):hover {
  background: -webkit-linear-gradient(
    10deg,
    rgb(63, 255, 255),
    rgb(248, 48, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__link:nth-of-type(2):hover {
  background: -webkit-linear-gradient(10deg, #a3ff90, #a9fffb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__link:nth-of-type(3):hover {
  background: -webkit-linear-gradient(10deg, yellow, rgb(255, 125, 216));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-family: $main-font;
  color: $text-color;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.name:after {
  display: block;
  content: "";
  height: 2px;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  background: yellow;
  box-shadow: inset -60px 0px 30px -25px rgb(255, 125, 216);
}
.name:hover:after {
  transform: scaleX(1);
}
.name:hover {
  background: -webkit-linear-gradient(10deg, yellow, rgb(255, 125, 216));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: none;
}
.back__button {
  font-family: $main-font;
  font-size: 18px;
  color: $text-color;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid black;
  position: fixed;
  left: 3%;
  bottom: 3%;
}

/* Media Queries */

@media only screen and (max-width: 450px) {
  .main__header {
    padding: 8px;
  }
  .nav__list {
    height: 23vh;
  }
  .nav__link {
    font-size: 18px;
  }
  .name {
    left: 8%;
  }
}
@media only screen and (max-width: 375px) {
  .nav__list {
    height: 29vh;
  }
}
@media only screen and (max-width: 320px) {
  .nav__link {
    font-size: 15px;
  }
}
