* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__heading, .main__header {
  font-family: "Oswald", sans-serif;
  color: black;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.main__header {
  color: black;
  font-family: "Oswald", sans-serif;
  margin-bottom: 46px;
  font-size: 36px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  height: 40vh;
}

.nav__list a {
  display: block;
  text-decoration: none;
  color: black;
}

.nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  padding: 12px;
  display: inline-block;
}

.nav__link:nth-of-type(1):hover {
  background: -webkit-linear-gradient(10deg, #3fffff, #f830ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:nth-of-type(2):hover {
  background: -webkit-linear-gradient(10deg, #a3ff90, #a9fffb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:nth-of-type(3):hover {
  background: -webkit-linear-gradient(10deg, yellow, #ff7dd8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.name:after {
  display: block;
  content: "";
  height: 2px;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  background: yellow;
  box-shadow: inset -60px 0px 30px -25px #ff7dd8;
}

.name:hover:after {
  transform: scaleX(1);
}

.name:hover {
  background: -webkit-linear-gradient(10deg, yellow, #ff7dd8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: none;
}

.back__button {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid black;
  position: fixed;
  left: 3%;
  bottom: 3%;
}

/* Media Queries */
@media only screen and (max-width: 450px) {
  .main__header {
    padding: 8px;
  }

  .nav__list {
    height: 23vh;
  }

  .nav__link {
    font-size: 18px;
  }

  .name {
    left: 8%;
  }
}
@media only screen and (max-width: 375px) {
  .nav__list {
    height: 29vh;
  }
}
@media only screen and (max-width: 320px) {
  .nav__link {
    font-size: 15px;
  }
}
.background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 150vh;
  background: linear-gradient(10deg, #a3ff90, #a9fffb);
}

.main__heading {
  font-size: 36px;
  max-width: 410px;
}

.paragraph__container {
  max-width: 350px;
  padding: 12px;
}

.paragraph {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 450px) {
  .background {
    justify-content: flex-start;
    height: 140vh;
  }

  .main__heading {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
  }
}

/*# sourceMappingURL=howmuch_and_why.css.map */
