@import "../../../../style.scss";

.background {
  @include flex-with-direction(column, space-around, center);
  height: 150vh;
  background: linear-gradient(10deg, #a3ff90, #a9fffb);
}
.main__heading {
  @extend %headings;
  font-size: 36px;
  max-width: 410px;
}
.paragraph__container {
  max-width: 350px;
  padding: 12px;
}
.paragraph {
  font-family: $main-font;
  font-weight: 400;
}

@media only screen and (max-width: 450px) {
  .background {
    justify-content: flex-start;
    height: 140vh;
  }
  .main__heading {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
  }
}
