* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__header {
  font-family: "Oswald", sans-serif;
  color: black;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.main__header {
  color: black;
  font-family: "Oswald", sans-serif;
  margin-bottom: 46px;
  font-size: 36px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  height: 40vh;
}

.nav__list a {
  display: block;
  text-decoration: none;
  color: black;
}

.nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  padding: 12px;
  display: inline-block;
}

.nav__link:nth-of-type(1):hover {
  background: -webkit-linear-gradient(10deg, #3fffff, #f830ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:nth-of-type(2):hover {
  background: -webkit-linear-gradient(10deg, #a3ff90, #a9fffb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:nth-of-type(3):hover {
  background: -webkit-linear-gradient(10deg, yellow, #ff7dd8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.name:after {
  display: block;
  content: "";
  height: 2px;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  background: yellow;
  box-shadow: inset -60px 0px 30px -25px #ff7dd8;
}

.name:hover:after {
  transform: scaleX(1);
}

.name:hover {
  background: -webkit-linear-gradient(10deg, yellow, #ff7dd8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: none;
}

.back__button {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid black;
  position: fixed;
  left: 3%;
  bottom: 3%;
}

/* Media Queries */
@media only screen and (max-width: 450px) {
  .main__header {
    padding: 8px;
  }

  .nav__list {
    height: 23vh;
  }

  .nav__link {
    font-size: 18px;
  }

  .name {
    left: 8%;
  }
}
@media only screen and (max-width: 375px) {
  .nav__list {
    height: 29vh;
  }
}
@media only screen and (max-width: 320px) {
  .nav__link {
    font-size: 15px;
  }
}
.background {
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(#ffe186, #eebcf4);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}

.text-container {
  position: absolute;
  width: 50vw;
  padding: 14vw;
}

.text-container:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.text-container:nth-of-type(2) {
  position: absolute;
  top: 17%;
  left: 15%;
}

.text-container:nth-of-type(3) {
  position: absolute;
  top: 12%;
  left: 61%;
}

.text-container:nth-of-type(4) {
  position: absolute;
  top: 40%;
  left: 30%;
}

.text-container:nth-of-type(5) {
  position: absolute;
  top: 65%;
  left: 3%;
}

.text-container:nth-of-type(6) {
  position: absolute;
  top: 58%;
  left: 56%;
}

.text-container:nth-of-type(7) {
  position: absolute;
  top: 84%;
  left: 20%;
}

.text-container:nth-of-type(8) {
  position: absolute;
  top: 85%;
  left: 66%;
}

.text-container:nth-of-type(9) {
  position: absolute;
  top: 44%;
  left: -10%;
}

.text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  font-size: 84px;
  font-size: 7.3vw;
  letter-spacing: 10px;
  transform: rotate(-10deg);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.text--position:nth-of-type(1) {
  left: -21px;
  top: 12px;
}

.text--position:nth-of-type(2) {
  left: -14px;
  top: 8px;
}

.text--position:nth-of-type(3) {
  left: -7px;
  top: 4px;
}

.text--position:nth-of-type(4) {
  left: 0px;
  top: 0px;
}

.one {
  color: #b6a5f7;
}

.two {
  color: #ffffff;
}

.three {
  color: #bceeff;
}

.four {
  color: #f7a0ff;
}

@media only screen and (max-width: 450px) {
  .text-container {
    width: 100vw;
  }

  .text {
    font-size: 15vw;
  }

  .text-container:nth-of-type(3) {
    left: -4%;
  }

  .text-container:nth-of-type(4) {
    left: 10%;
    top: 30%;
  }

  .text-container:nth-of-type(6) {
    left: -24%;
  }

  .text-container:nth-of-type(8) {
    left: 4%;
    top: 81%;
  }
}

/*# sourceMappingURL=pick_me.css.map */
