@import "../../../../style.scss";

.container {
  @include flex-with-direction(column, space-around, center);
  height: 100vh;
  width: 100vw;
  background: linear-gradient(10deg, rgb(143, 255, 255), rgb(252, 152, 255));
  position: fixed;
}
.facts__heading {
  @extend %headings;
  font-size: 36px;
  max-width: 360px;
}
.facts__list {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}
.fact {
  font-family: $main-font;
  list-style: none;
  font-size: 18px;
}
.img {
  position: absolute;
}
.img--dumplings {
  width: 130px;
  left: 27%;
  top: 104%;
}
.img--pacman {
  width: 100px;
  left: 70%;
  top: 110%;
}
.img--pacman-blue {
  width: 130px;
  top: 84%;
  left: 15%;
}
.img--pacman-green {
  width: 100px;
  right: 16%;
  top: 160%;
}
.img--pacman-red {
  width: 100px;
  left: 50%;
  top: 200%;
}
.img--pacman-pink {
  width: 100px;
  left: 13%;
  top: 250%;
}
.img--mario {
  width: 80px;
  left: 47%;
  top: 157%;
}
.img--gandalf {
  width: 400px;
  left: 0;
  bottom: 0;
  position: fixed;
}
.img--diver {
  width: 200px;
  top: 225%;
  left: 30%;
}
.img--beer {
  width: 80px;
  top: 160%;
  left: 5%;
}
.img--nofish {
  width: 150px;
  top: 170%;
  right: 5%;
}
.img--cleaner {
  width: 250px;
  position: fixed;
  right: 1%;
  bottom: 0;
}
.img--chess {
  width: 50px;
  left: 65%;
  top: 260%;
}
.empty__element {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 400%;
}

/* Media Queries */

@media only screen and (max-width: 450px) {
  .container {
    justify-content: flex-start;
  }
  .facts__heading {
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .facts__list {
    height: 42vh;
  }
  .back__button {
    left: 8%;
  }
  .hidden {
    display: none;
  }
  .img--pacman-blue {
    top: 93%;
  }
  .img--pacman {
    right: 10%;
  }
  .img--gandalf {
    width: 300px;
  }
}
